@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
:root {
  --clr-primary: #ffa600;
  --clr-secondary: #2b2b2b;
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-gray: #7e7e7e;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* container */
.container {
  max-width: 150rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* header */
.header {
  background: var(--clr-secondary);
  padding: 1rem 0;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__branding {
  width: 35rem;
}
.header .header__nav {
  display: flex;
  gap: 5rem;
}
.header .header__nav li a {
  color: var(--clr-light);
}

/* banner */
.homeBanner {
  padding: 5rem 0;
  background: var(--clr-light);
}
.homeBanner .homeBanner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.homeBanner .homeBanner__info h1 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(8rem, 6vw, 10rem);
  max-width: 50rem;
  line-height: 9rem;
}

.homeBanner .homeBanner__info p {
  text-align: justify;
  max-width: 50rem;
  padding: 5rem 0;
}

/* home quote */
.homeQuote {
  padding: 5rem 0;
  background: var(--clr-secondary);
  color: var(--clr-light);
}

.homeQuote .homeQuote__wrapper {
  display: flex;
  gap: 5rem;
  text-align: center;
}

.homeQuote .homeQuote__item h4 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(1.5rem, 6vw, 2rem);
  margin: 2rem;
}

.homeQuote .homeQuote__item p {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 10rem;
}

/* home About me */
.homeAboutme {
  padding: 5rem 0;
  background: var(--clr-light);
}

.homeAboutme .homeAboutme__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.homeAboutme .homeAboutme__image img:first-child {
  position: relative;
  width: 60rem;
  height: 60.5rem;
}
.homeAboutme .homeAboutme__image img:last-child {
  position: absolute;
  left: 0;
  margin-left: 2rem;
  opacity: 50%;
}
.homeAboutme .homeAboutme__info h4 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(1.5rem, 6vw, 2rem);
  margin-bottom: 5rem;
}
.homeAboutme .homeAboutme__info p {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

/* homeLatestTrends */
.homeLatestTrends {
  padding: 5rem 0;
  background: var(--clr-secondary);
}

.homeLatestTrends h2 {
  color: var(--clr-primary);
  font-size: clamp(3.5rem, 6vw, 5rem);
  font-weight: bold;
}
.homeLatestTrends p {
  color: var(--clr-light);
  font-size: 16px;
  margin: 2rem 0 5rem;
}
.homeLatestTrends__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 10rem;
}
/* cta */
.cta {
  padding: 5rem 0;
  background: var(--clr-primary);
  text-align: center;
}

.cta h4 {
  font-weight: bold;
  font-size: clamp(1.5rem, 6vw, 2rem);
}
.cta p {
  font-size: 14px;
  margin-bottom: 2rem;
}
/* footer */
.footer {
  padding: 2rem 0;
  background: var(--clr-secondary);
  color: var(--clr-gray);
}

.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__wrapper small {
  font-size: 14px;
}
.footer .footer__social {
  display: flex;
  gap: 2rem;
}

.footer .footer__social--icon {
  display: flex;
  gap: 1rem;
}
.footer .footer__social--icon li a {
  color: var(--clr-gray);
}

/* ABOUT */

.aboutBanner {
  padding: 5rem 0;
  background: var(--clr-light);
}
.aboutBanner .aboutBanner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutBanner .aboutBanner__info small {
  font-size: 16px;
}

.aboutBanner .aboutBanner__info h1 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(8rem, 6vw, 10rem);
  margin-bottom: 2rem;
}
.aboutBanner .aboutBanner__info p {
  font-size: 16px;
  margin-bottom: 2rem;
  max-width: 60rem;
  text-align: justify;
}

.aboutBanner .aboutBanner__info--icon {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.aboutBanner .aboutBanner__info--icon li a {
  color: var(--clr-primary);
}

.aboutBanner .aboutBanner__info--icon li a i {
  font-size: 20px;
}

.aboutBanner .aboutBanner__arrowDown {
  text-align: center;
  font-size: 3rem;
}
.aboutBanner .aboutBanner__arrowDown a i {
  color: var(--clr-primary);
}

/* My Recent Projects */
.aboutProject {
  padding: 5rem 0;
  background: var(--clr-secondary);
  color: var(--clr-light);
}

.aboutProject h2 {
  color: var(--clr-primary);
  font-size: clamp(3.5rem, 6vw, 5rem);
  font-weight: bold;
}
.aboutProject p {
  color: var(--clr-light);
  font-size: 16px;
  margin: 2rem 0 5rem;
}
.aboutProject__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
}

/* SERVICES web and social */
.servicesWeb,
.servicesSocial {
  padding: 5rem 0;
  background: var(--clr-light);
}
.servicesWeb .servicesWeb__item,
.servicesSocial .servicesSocial__item {
  display: flex;
  justify-content: space-between;
}
.servicesWeb .servicesWeb__item--info h2,
.servicesSocial .servicesSocial__item--info h2 {
  color: var(--clr-primary);
  font-size: clamp(3.5rem, 6vw, 5rem);
  font-weight: bold;
  max-width: 40rem;
  margin-bottom: 5rem;
}

.servicesWeb .servicesWeb__item--info p,
.servicesSocial .servicesSocial__item--info p {
  font-size: 16px;
  margin-bottom: 2rem;
  max-width: 60rem;
  text-align: justify;
}

.servicesWeb .servicesWeb__item--info h6,
.servicesSocial .servicesSocial__item--info h6 {
  font-size: 16px;
  margin-top: 5rem;
}

.servicesWeb .servicesWeb__item--info h3,
.servicesSocial .servicesSocial__item--info h3 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(2.5rem, 6vw, 3rem);
}
.servicesWeb .servicesWeb__item--info small,
.servicesSocial .servicesSocial__item--info small {
  font-style: italic;
  font-size: 12px;
}

.servicesWeb .servicesWeb__item--arrowDown,
.servicesSocial .servicesSocial__item--arrowDown {
  text-align: center;
  font-size: 3rem;
}
.servicesWeb .servicesWeb__item--arrowDown a i,
.servicesSocial .servicesSocial__item--arrowDown a i {
  color: var(--clr-primary);
}

.servicesWeb .servicesWeb__item--image img:first-child ,
.servicesSocial .servicesSocial__item--image img:first-child{
  position: relative;
  width: 60rem;
  height: 60.5rem;
  right: 0;
}
.servicesWeb .servicesWeb__item--image img:last-child,
.servicesSocial .servicesSocial__item--image img:last-child {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  opacity: 50%;
  width: 60rem;
  height: 60.5rem;
}

/* SERVICES Graphic */
.servicesGraphic {
  padding: 5rem 0;
  background: var(--clr-secondary);
}
.servicesGraphic .servicesGraphic__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.servicesGraphic .servicesGraphic__item--info h2 {
  color: var(--clr-primary);
  font-size: clamp(3.5rem, 6vw, 5rem);
  font-weight: bold;
  max-width: 40rem;
  margin-bottom: 5rem;
}

.servicesGraphic .servicesGraphic__item--info p {
  font-size: 16px;
  margin-bottom: 2rem;
  max-width: 60rem;
  text-align: justify;
  color: var(--clr-light);
}

.servicesGraphic .servicesGraphic__item--info h6 {
  font-size: 16px;
  margin-top: 5rem;
  color: var(--clr-light);
}

.servicesGraphic .servicesGraphic__item--info h3 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(2.5rem, 6vw, 3rem);
}
.servicesGraphic .servicesGraphic__item--info small {
  font-style: italic;
  font-size: 12px;
  color: var(--clr-light);
}

.servicesGraphic .servicesGraphic__items--arrowDown {
  text-align: center;
  font-size: 3rem;
}
.servicesGraphic .servicesGraphic__items--arrowDown a i {
  color: var(--clr-primary);
}

/* UPDATES */

.updatesLatest .updatesLatest__feature--icon i {
  margin-right: 1rem;
}


/* REPEATABLE PATERNS */
.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: transparent;
  color: var(--clr-light);
  border-radius: 5rem;
}

.btn.bg--yellow {
  background-color: var(--clr-primary);
}
.btn.bg--brown {
  background-color: var(--clr-secondary);
}

.card {
  background-color: var(--clr-light);
  border-radius: 2rem;
}
.card .card__image img {
  width: 100%;
}

.card .card__info {
  padding: 2rem;
}

.card .card__info h5 {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: clamp(1.3rem, 6vw, 1.5rem);
}
.card .card__info p {
  font-size: 16px;
  color: var(--clr-dark);
}

.card .card__info a {
  font-size: 16px;
  color: var(--clr-primary);
}
